@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* header */
header{
    max-width: 1300px;
    height: auto;
    padding: 10px 20px;
    background-color: rgba(17, 17, 17, 2.5);
}
/* header */
/* navbar and banner */
.navbar{
    width: 900px;
    padding-top: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 35px;
    color: #E6533C;
}
.ul-list{
    display: flex;
    margin-right: 25px;
    border: 1px solid gray;
    border-radius: 50px;
}
.ul-list li{
    color: white;
    list-style-type: none;
    font-size: 20px;
    margin-right: 25px;
    padding: 10px;
}
#special-home-button{
    border: none;
    background-color: #E6533C;
    border-radius: 50px;
    padding: 10px;
}
#bar{
    color: white;
    font-size: 22px;
}
.same-btn{
    border: 0;
    background-color: #E6533C;
    padding: 12px 40px;
    color: white;
    font-size: 17px;
    border-radius: 24px;
}
.btn-2{
    border: 1px solid white;
    background-color: transparent;
    padding: 12px 40px;
    color: white;
    font-size: 17px;
    border-radius: 24px;
}
.banner{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 230px;
}
.banner-title{
    font-size: 60px;
    color: white;
}
.banner-p{
    color: gray;
    margin-top: 10px;
    margin-bottom: 25px;
}
.banner-img{
    height: 450px;
} 
.img-container{
    position: relative;
}
.img-btn{
    position: absolute;
    margin-top: 110px;
    margin-left: 180px;
    width: 180px;
    padding: 12px;
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.img-btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -110px;
    margin-left: -120px;
    width: 180px;
    padding: 12px;
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.img-btn-h5{
    color: white;
    font-size: 35px;
}
.img-btn-p{
    color: gray;
}
.fa-solid{
    color: #E6533C;
    font-size: 30px;
}

/* Habits Part */
.habit-section{
    max-width: 1300px;
    background-color: black;
}
.habit-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 48px;
    color: white;
}
.habit-para{
    font-size: 16px;
    text-align: center;
    color: gray;
    margin-bottom: 35px;
}
.habit-img-card-parent{
    /* border: 1px solid white; */
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habit-img{
    border-radius: 50%;
    padding-bottom: 15px;
}
.div-1 h2{
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
}
.div-1 p{
    color: gray;
}
/* Habits Part */

/* Run extra mile part */
.run-extra-mile-section{
    max-width: 1300px;
    background-color: black;
    padding: 40px 0;
}
.run-extra-mile-parent{
    background-color: rgba(34, 34, 34, 1.00);
    width: 900px;
    margin: 0 auto;
    border-radius: 19px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.run-image{
    height: 270px;
    border-radius: 19px;
}
.left-part, .right-part{
    padding: 30px;
}
.left-part h1{
    font-size: 48px;
    color: white;
}
.left-part p{
    color: gray;
}
.btn-3{
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    background-color: #E6533C;
    margin-top: 30px;
    border-radius: 50px;
    padding: 13px 30px;
}
/* Run extra mile part */
















/* Responsive styles for small devices */
@media screen and (max-width: 576px) {
    header{
        width: 100%;
        height: auto;
    }
    .navbar {
        width: 100%;
    }
    .nav-title {
        font-size: 28px;
    }
    .ul-list {
        display: none;
    }
    #bar {
        margin-right: 10px;
    }
    .banner {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }
    .banner-title {
        font-size: 35px;
        line-height: 1.2;
    }
    .banner-p {
        font-size: 14px;
    }
    .banner-img {
        height: auto;
        width: 100%;
    }
    .btn-div {
        display: flex;
        gap: 20px;
    }
    .same-btn, .btn-2 {
        width: 80%;
        margin: 10px 0;
        font-size: 16px;
        padding: 10px;
    }
    .img-btn{
        position: absolute;
        width: 140px;
        margin-top: 0px;
        margin-left: 180px;
    }
    .img-btn-2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        margin-left: 20px;
        top: 330px;
    }
    .fa-solid{
        color: #E6533C;
        font-size: 30px;
    }
    .habit-section{
        width: 100%;
    }
    .habit-img-card-parent{
        width: 60%;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .div-1 h2{
        text-align: center;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .run-extra-mile-section{
        width: 100%;
    }
    .run-extra-mile-parent{
        width: 90%;
        flex-direction: column;
    }
    .btn-3{
        width: 100%;
    }
    .run-image{
        width: 100%;
        height: auto;
    }
    
}

/* Responsive styles for medium devices */
@media (min-width: 577px) and (max-width: 992px) {
    header{
        width: 100%;
        height: auto;
    }
    .navbar {
        width: 100%;
        justify-content: space-between;
    }
    .nav-title {
        font-size: 40px;
    }
    .ul-list li {
        padding: 10px;
        font-size: 18px;
    }
    #bar {
        display: none;
    }
    .banner{
        margin-top: 10px;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .banner-title {
        font-size: 60px;
    }
    .banner-img {
        height: auto;
        width: 100%;
    }
    .btn-div {
        display: flex;
        gap: 20px;
        /* flex-direction: row; */
    }
    .img-btn-2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        margin-left: -19px;
        top: 470px;
    }
    .same-btn, .btn-2 {
        width: auto;
        margin: 0 10px;
        font-size: 16px;
        padding: 10px 30px;
    }
    .habit-section{
        width: 100%;
    }
    .habit-img-card-parent{
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .run-extra-mile-section{
        width: 100%;
    }
    .run-extra-mile-parent{
        width: 90%;
    }
    .run-image{
        width: 100%;
    }
    .left-part, .right-part{
        padding: 30px;
        /* width: 100%; */
    }
}
/* large device */
@media (min-width: 993px) and (max-width: 2000px){
    #bar {
        display: none;
    }
    .img-btn{
        position: absolute;
        width: 140px;
        margin-top: 110px;
        margin-left: 160px;
    }
    .banner {
        margin-top: 15px;
    }
}








































